################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/GymSystem.App/obj
/GymSystem/GymSystem.App/obj
/GymSystem/GymSystem/obj
/GymSystem/obj
